@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  --primary-accent: #4f46e5;
  --light-gray: #f9fafb;
  --medium-gray: #e5e7eb;
  --dark-gray: #111827;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: var(--dark-gray);
}

#root {
  min-height: 100%;
}
